<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
</head>
<body>

<div class="layui-fluid">
    <div title="欢迎使用" style="padding:20px;overflow:hidden;">
        <p style="font-size: 25px; line-height: 30px; height: 30px;">欢迎使用后台理系统</p>
        <p>开发人员：zero</p>

        <hr />
        <h2>系统环境</h2>
        <p>系统环境：Windows</p>
        <p>开发工具：IDEA</p>
        <p>Java版本：JDK 1.8</p>
        <p>服务器：tomcat 7.0</p>
        <p>数据库：MySQL 5.7</p>
        <p>系统采用技术： springboot + mybatis + maven</p>
    </div>
</div>

<script th:src="@{/layuiadmin/layui/layui.js(t=1)}"></script>
<script>

</script>
</body>
</html>