<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加权限</title>
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<body>
<div class="layui-form" lay-filter="layuiadmin-form-admin" id="layuiadmin-form-admin" style="padding: 20px 30px 0 0;">
    <input type="hidden" name="pid" value="-1">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标</label>
        <div class="layui-input-inline">
            <select lay-filter="icon" name="icon" class="select">
                <option value="0">请选择图标</option>
                <option th:each="icon : ${session.icon}" th:value="${icon.url}" th:text="${icon.url}"> </option>
            </select>
        </div>
        <i id="icon" style="margin-top: 13px"></i>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="addpermission">立即添加</button>
            <button type="reset" id="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</div>

<script th:src="@{/layuiadmin/layui/layui.js}"></script>
<script>

    layui.use(['form','jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        form.on('submit(addpermission)',function (data) {
            $.ajax({
                url:'/manager/addPermission',
                data:data.field,
                dataType:'json',
                type:'post',
                success:function (data) {
                    if (data.success){
                        layer.msg(data.message);
                        layer.alert(data.message,function(){
                            window.parent.location.reload();//刷新父页面
                            parent.layer.close(index);//关闭弹出层
                        });
                    }else{
                        layer.msg(data.message);
                    }
                }
            });
            return false;
        })

        //重置
        $("#reset").click(function () {
            $("input").val("");
        })

        form.on('select(icon)', function(data){
            $("#icon").removeClass();
            $("#icon").addClass("fa").addClass(data.value);
        });


    });

</script>
</body>
</html>