<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <!-- 头部区域 -->
    <div class="layui-header" th:fragment="header-div">
        <ul class="layui-nav layui-layout-left" >
            <li class="layui-nav-item layadmin-flexible" lay-unselect>
                <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                    <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                </a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;" layadmin-event="refresh" title="刷新">
                    <i class="layui-icon layui-icon-refresh-3"></i>
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

            <li class="layui-nav-item" lay-unselect>
                <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
                    <i class="layui-icon layui-icon-notice"></i>

                    <!-- 如果有新消息，则显示小圆点 -->
                    <span class="layui-badge-dot"></span>
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a href="javascript:;" layadmin-event="fullscreen">
                    <i class="layui-icon layui-icon-screen-full"></i>
                </a>
            </li>
            <li class="layui-nav-item" lay-unselect style="margin-right: 20px">
                <a href="javascript:;">
                    <cite th:text="${session.admin.username}"></cite>
                </a>
                <dl class="layui-nav-child">
                    <dd><a lay-href="/manager/info">基本资料</a></dd>
                    <dd><a lay-href="/manager/password">修改密码</a></dd>
                    <hr>
                    <dd style="text-align: center;"><a th:href="@{/manager/logout}">退出</a></dd>
                </dl>
            </li>

        </ul>
    </div>


</html>