<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.system.mapper.AdminMapper">
    <resultMap id="BaseResultMap" type="com.zero.system.entity.Admin">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="email" jdbcType="VARCHAR" property="email" />
    </resultMap>
    <sql id="Base_Column_List">
        id,username,password,phone,email
    </sql>

    <select id="login" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from admin
        where username = #{username,jdbcType=VARCHAR} AND password=#{password,jdbcType=VARCHAR}
    </select>

    <select id="queryList" resultMap="BaseResultMap" >
        <!-- 根据条件查询 图书的所有信息 -->
        select
        <include refid="Base_Column_List" />
        from admin
        <where>
            <if test="username!=null"> and username LIKE concat("%",#{username},"%") </if>
            <if test="email!=null"> and email = #{email} </if>
            <if test="phone!=null"> and phone = #{phone} </if>
        </where>
        limit #{startIndex},#{pagesize}
    </select>

    <select id="queryCount" resultType="int" >
        select count(*) from admin
        <where>
            <if test="username!=null"> and username LIKE concat("%",#{username},"%") </if>
            <if test="email!=null"> and email = #{email} </if>
            <if test="phone!=null"> and phone = #{phone} </if>
        </where>
    </select>
</mapper>