<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.system.mapper.TreeMenuMapper">
    <resultMap id="BaseResultMap" type="com.zero.system.entity.TreeMenu">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="pid" jdbcType="INTEGER" property="pid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="url" jdbcType="VARCHAR" property="url" />
    </resultMap>
    <resultMap id="PermissionMap" type="com.zero.system.entity.Permission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,pid,name,icon,url
    </sql>

    <select id="selectByAdminId" parameterType="int" resultMap="BaseResultMap">
        select treemenu.id,treemenu.pid,treemenu.name,treemenu.icon,treemenu.url
        from admin,role,role_treemenu,treemenu
        where admin.rid = role.id
        and role.id = role_treemenu.rid
        and treemenu.id = role_treemenu.tid
        and admin.id = #{id}
    </select>

    <select id="selectAll" resultMap="PermissionMap">
        select treemenu.id,treemenu.pid,treemenu.name as title,treemenu.name as value,treemenu.url
        from treemenu
    </select>

</mapper>